.message {
    padding: 7px 12px;
    margin: 3px 0;
    border-radius: 12px;
    max-width: 80%;
}

.message.left {
    background-color: #525252;
    align-self: flex-start;
    margin-left: 0.75rem;
}

.message.right {
    background-color: #0ea5e9;
    align-self: flex-end;
    margin-right: 1rem;
}

.message.center {
    background-color: #525252;
    align-self: center;
    font-weight: 600;
    margin-top: 6rem;
    margin-bottom: 2rem;
}

.message.none {
    display: none;
}

.message.choice {
    background-color: #d1d1d1;
    align-self: center;
}

.image.left {
    background-color: #525252;
    align-self: flex-start;
    margin-left: 0.75rem;
}

.image.right {
    background-color: #0ea5e9;
    align-self: flex-end;
    margin-right: 1rem;
}