@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.main {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  margin: 0;
  padding: 0;
}